SPEACHES_BASE_URL=http://localhost:8000
SPEACHES_MODEL=Systran/faster-whisper-small

SONAR_HOST_URL=
SONAR_TOKEN=

POSTGRES_DB=banco_de_dados
DB_URL=jdbc:postgresql://localhost:5432/banco_de_dados
DB_USERNAME=user
DB_PASSWORD=password